@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header{
  background-image: url('/img/bg1.jpg');
  color: #fff;
  display: flex;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
  align-items: flex-start;
  min-height: calc(100vh - 102px);
}
 .content{
  margin: auto;
  text-decoration: blue;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 100%;

}
.content h1{
  color: black;
  margin-bottom: 0;
}
.container{
  padding:  1rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}
nav{
  background-color: #00c2ff;
  display: flex;
  justify-content: space-between;
  
}
nav .logo{
  font-size: 2.5rem;
}
nav ul{
  display: flex;
  list-style-type: none;
  padding: 0;
}



nav li a{
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}
.selected{
  font-weight: bold;
}
.highlight{
  background-color: lightslategray;
  color: #fff;
  
}

footer{
  height: 100px;
  background-color: #00c2ff;
  color: #fff;
  padding: 2rem;
  padding: 1rem;
}

footer ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  padding: 0;

}
footer strong{
  color: aliceblue;

}

footer p{
  margin: 0;
}

@media screen and (max-width:700px) {
  /* nav{
    flex-direction: column;
  } */
  .content{
    margin: 2rem auto 0;
    font-size: 1.4rem;
  }
  nav ul{
    flex-direction: column;
  }
  nav .highlight{
    display: none;
  }
  nav{
    flex-direction: column;
  }
  nav li:not(:last-child){
    margin-bottom: 1rem;
  }
  footer ul{
    flex-direction: column;
    justify-content: center;
  }
  footer li{
    margin: 1rem;
    text-align: center;
  }
}

